{% extends "base.html" %}
{% load static %}
{% block title %}Техническая эксплуатация и обслуживание электрического и электромеханического оборудования{% endblock title %}

{% block content %}

<main role="main" class="container">
    <h1 class="mt-5 h1 text-break">Техническая эксплуатация и обслуживание электрического и электромеханического оборудования</h1>
    <div class="row mt-4">
        <div class="col-md-6 text-justify">
            <p>Техническая эксплуатация и обслуживание электрического и электромеханического оборудования - это важная область, требующая специальных знаний и навыков. Электрическое оборудование является основой современных технологий и инфраструктуры, и его правильная эксплуатация и обслуживание критически важны для безопасности и эффективности.</p>
            <p>Наша специальность обучает студентов не только основам электротехники, но и техникам обслуживания и ремонта различных электрических систем. Она включает в себя знакомство с различными типами оборудования, от маломощных устройств до крупных электростанций, а также с методами технического обслуживания, диагностики и ремонта.</p>
            <p>Наша цель - подготовить квалифицированных специалистов, способных обеспечивать надежную и безопасную работу электротехнического оборудования в различных отраслях промышленности, строительства и гражданского сектора.</p>
        </div>
        <div class="col-md-6">
            <a href="{% static 'images/electro_maintenance/electro_maintenance1.jpeg' %}" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'images/electro_maintenance/electro_maintenance1.jpeg' %}"
                     class="img-fluid rounded-pill"
                     alt="Электромеханическое оборудование"
                     title="Электромеханическое оборудование">
            </a>
        </div>
    </div>
    <hr class="lead">
    <h3 class="mt-4 text-center">Советы для начинающих электриков</h3>
    <ul>
        <li>Всегда используйте соответствующие средства защиты при работе с электричеством, такие как перчатки, очки и защитная одежда.</li>
        <li>Перед началом работы изучите электрические схемы и инструкции по безопасности.</li>
        <li>Правильно обозначайте и изолируйте провода перед началом работ.</li>
        <li>Регулярно проверяйте состояние оборудования на наличие износа или повреждений.</li>
        <li>При возникновении неполадок сначала отключите питание, прежде чем начать ремонтные работы.</li>
    </ul>
    <hr class="lead">
        <h2 class="text-center display-4">Работы, на которых можно работать по специальности</h2>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="alert alert-primary">
                    Обслуживание и ремонт электрических систем зданий и сооружений
                </div>
            </div>
            <div class="col-md-12 text-center">
                <div class="alert alert-primary">
                    Установка и настройка электронного оборудования и систем автоматизации
                </div>
            </div>
            <div class="col-md-12 text-center">
                <div class="alert alert-primary">
                    Работа на производствах, связанных с электроэнергетикой и машиностроением
                </div>
            </div>
            <div class="col-md-12 text-center">
                <div class="alert alert-primary">
                    Разработка и проведение мероприятий по предотвращению аварийных ситуаций
                </div>
            </div>
            <div class="col-md-12 text-center">
                <div class="alert alert-primary">
                    Участие в инженерных проектах, связанных с разработкой и совершенствованием электротехнического оборудования
                </div>
            </div>
        </div>


 
</main>

{% endblock content %}