{% extends "base.html" %}
{% load static %}
{% block title %}О сайте{% endblock title %}

{% block content %}
<main role="main" class="container">
	<div class="row">
		<div class="col-md-12 text-justify my-4">
			<h1 class="text-center">Добро пожаловать</h1>
			<p>Добро пожаловать в базу знаний, где собраны экспертные знания по широкому спектру специальностей, связанных с нефтегазовой промышленностью и техническими областями.
			<p>Не важно, являетесь ли вы студентом, профессионалом в отрасли или просто интересуетесь нефтегазовой промышленностью и техническими областями, база знаний предоставляет информацию, которая поможет вам расширить ваше понимание и навыки в соответствующих областях</p>
		</div>
		<div class="col-md-12">
			<h2 class="text-center">Перечень специальностей</h2>
			<hr class="lead">
		</div>
		<div class="row">
			<div class="col-md-6 text-center">
				<div class="d-flex flex-column">
					<p class="alert alert-primary ">Бурение нефтяных и газовых скважин</p>
					<p class="alert alert-primary">Сооружение и эксплуатация газонефтепроводов и газонефтехранилищ</p>
					<p class="alert alert-primary">Разработка и эксплуатация нефтяных и газовых месторождений</p>
					<p class="alert alert-primary">Геофизические методы поисков и разведки месторождений полезных ископаемых</p>
					<p class="alert alert-primary">Прикладная геодезия</p>
				</div>
			</div>
			<div class="col-md-6 text-center">
				<div class="d-flex flex-column">
					<p class="alert alert-primary">Геология и разведка нефтяных и газовых месторождений</p>
					<p class="alert alert-primary">Монтаж техническое обслуживание и ремонт промышленного оборудования</p>
					<p class="alert alert-primary">Автоматические системы управления</p>
					<p class="alert alert-primary">Техническая эксплуатация и обслуживание электрического и электромеханического оборудования</p>
					<p class="alert alert-primary">Экономика и бухгалтерский учёт</p>
				</div>
			</div>
			<div class="col-md-12 text-center">	
				<p class="alert alert-primary">Информационные системы и программирование</p>
			</div>
		</div>		
	</div>	
</main>
{% endblock content %}