<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Центр знаний нефтяных технологий{% endblock title %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Иконки позаимствовал с сайта www.flaticon.com/ru/free-icons -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon/favicon.ico' %}"/>
    {% block extra_head %}{% endblock extra_head %}
</head>
<body> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom">
        <div class="container">

            <div class="d-inline-block">
            <a class="navbar-brand" href="{% url 'index' %}" rel="noopener noreferrer">
                <img src="{% static 'images\index_banners\icon.png' %}" class="" alt="Иконка" width="40" height="40">
            </a>
            <a class="navbar-brand text" href="{% url 'index' %}">Центр знаний</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index' %}">Главная</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'about-site' %}">О сайте</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'contacts' %}">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        
        {% endblock content %}
    </div>

    <footer class="footer mt-auto py-3 bg-dark text-white">
        <div class="container text-center">
            <span class="text-muted">Автор: Газизуллин Данил Рамилевич</span><br>
            <span class="text-muted">Центр знаний в области нефтяных технологий</span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
